In [3]:
print("hello world")
import pandas as pd

hello world

In [6]:
path = '../data/train.csv'
dataset = pd.read_csv(path)

In [7]:
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [9]:
dataset.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [11]:
dataset.shape

(1460, 81)

In [15]:
%config InteractiveShell.ast_node_interactivity = 'all'

In [16]:
dataset.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [32]:
missing_indices = dataset[dataset['LotFrontage'].isna()].index
dataset['LotFrontage'][missing_indices[0]:missing_indices[0]+15]

7       NaN
8      51.0
9      50.0
10     70.0
11     85.0
12      NaN
13     91.0
14      NaN
15     51.0
16      NaN
17     72.0
18     66.0
19     70.0
20    101.0
21     57.0
Name: LotFrontage, dtype: float64

In [33]:
dataset['LotFrontage'].value_counts()
dataset['LotFrontage'].unique()

LotFrontage
60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
        ...
137.0      1
141.0      1
38.0       1
140.0      1
46.0       1
Name: count, Length: 110, dtype: int64

array([ 65.,  80.,  68.,  60.,  84.,  85.,  75.,  nan,  51.,  50.,  70.,
        91.,  72.,  66., 101.,  57.,  44., 110.,  98.,  47., 108., 112.,
        74., 115.,  61.,  48.,  33.,  52., 100.,  24.,  89.,  63.,  76.,
        81.,  95.,  69.,  21.,  32.,  78., 121., 122.,  40., 105.,  73.,
        77.,  64.,  94.,  34.,  90.,  55.,  88.,  82.,  71., 120., 107.,
        92., 134.,  62.,  86., 141.,  97.,  54.,  41.,  79., 174.,  99.,
        67.,  83.,  43., 103.,  93.,  30., 129., 140.,  35.,  37., 118.,
        87., 116., 150., 111.,  49.,  96.,  59.,  36.,  56., 102.,  58.,
        38., 109., 130.,  53., 137.,  45., 106., 104.,  42.,  39., 144.,
       114., 128., 149., 313., 168., 182., 138., 160., 152., 124., 153.,
        46.])

In [ ]:
#TODO
#1. replace nan with 'NA' in categorical variables (if dtype == object)
#2. replace nan with 0 in numerical variables (if dtype == float64 or dtype == int64)
#3. except for 'GarageYrBlt', replace it with avg of this column

In [52]:
for column in dataset.columns:
    #print(dataset[column].dtype )
    if column == 'GarageYrBlt':
        for entry in dataset[column]:
            print(entry, type(entry))

2003.0 <class 'float'>
1976.0 <class 'float'>
2001.0 <class 'float'>
1998.0 <class 'float'>
2000.0 <class 'float'>
1993.0 <class 'float'>
2004.0 <class 'float'>
1973.0 <class 'float'>
1931.0 <class 'float'>
1939.0 <class 'float'>
1965.0 <class 'float'>
2005.0 <class 'float'>
1962.0 <class 'float'>
2006.0 <class 'float'>
1960.0 <class 'float'>
1991.0 <class 'float'>
1970.0 <class 'float'>
1967.0 <class 'float'>
2004.0 <class 'float'>
1958.0 <class 'float'>
2005.0 <class 'float'>
1930.0 <class 'float'>
2002.0 <class 'float'>
1976.0 <class 'float'>
1968.0 <class 'float'>
2007.0 <class 'float'>
2005.0 <class 'float'>
2008.0 <class 'float'>
1957.0 <class 'float'>
1920.0 <class 'float'>
1920.0 <class 'float'>
1966.0 <class 'float'>
2007.0 <class 'float'>
1959.0 <class 'float'>
2005.0 <class 'float'>
2004.0 <class 'float'>
1995.0 <class 'float'>
1954.0 <class 'float'>
1953.0 <class 'float'>
nan <class 'float'>
1965.0 <class 'float'>
1959.0 <class 'float'>
1983.0 <class 'float'>
1977.0 <class 'float'>
1959.0 <class 'float'>
2005.0 <class 'float'>
2003.0 <class 'float'>
2006.0 <class 'float'>
nan <class 'float'>
1966.0 <class 'float'>
1997.0 <class 'float'>
1985.0 <class 'float'>
1963.0 <class 'float'>
1981.0 <class 'float'>
1962.0 <class 'float'>
1964.0 <class 'float'>
1999.0 <class 'float'>
2004.0 <class 'float'>
2006.0 <class 'float'>
1973.0 <class 'float'>
2006.0 <class 'float'>
1935.0 <class 'float'>
2006.0 <class 'float'>
1990.0 <class 'float'>
1998.0 <class 'float'>
2004.0 <class 'float'>
1970.0 <class 'float'>
2003.0 <class 'float'>
1945.0 <class 'float'>
1953.0 <class 'float'>
1973.0 <class 'float'>
1987.0 <class 'float'>
1998.0 <class 'float'>
1989.0 <class 'float'>
1915.0 <class 'float'>
1973.0 <class 'float'>
1956.0 <class 'float'>
1948.0 <class 'float'>
nan <class 'float'>
1966.0 <class 'float'>
1968.0 <class 'float'>
1998.0 <class 'float'>
2007.0 <class 'float'>
1974.0 <class 'float'>
1995.0 <class 'float'>
1991.0 <class 'float'>
2005.0 <class 'float'>
2009.0 <class 'float'>
nan <class 'float'>
nan <class 'float'>
1950.0 <class 'float'>
1961.0 <class 'float'>
1921.0 <class 'float'>
1900.0 <class 'float'>
1997.0 <class 'float'>
1993.0 <class 'float'>
1999.0 <class 'float'>
1965.0 <class 'float'>
1920.0 <class 'float'>
nan <class 'float'>
1977.0 <class 'float'>
1985.0 <class 'float'>
1979.0 <class 'float'>
2009.0 <class 'float'>
1951.0 <class 'float'>
2003.0 <class 'float'>
1954.0 <class 'float'>
1948.0 <class 'float'>
nan <class 'float'>
1977.0 <class 'float'>
1954.0 <class 'float'>
2000.0 <class 'float'>
2007.0 <class 'float'>
1953.0 <class 'float'>
1945.0 <class 'float'>
1999.0 <class 'float'>
1962.0 <class 'float'>
2007.0 <class 'float'>
1990.0 <class 'float'>
2005.0 <class 'float'>
1969.0 <class 'float'>
1979.0 <class 'float'>
1958.0 <class 'float'>
1993.0 <class 'float'>
1979.0 <class 'float'>
nan <class 'float'>
1977.0 <class 'float'>
nan <class 'float'>
1966.0 <class 'float'>
1998.0 <class 'float'>
1966.0 <class 'float'>
2000.0 <class 'float'>
1974.0 <class 'float'>
2001.0 <class 'float'>
1968.0 <class 'float'>
1970.0 <class 'float'>
1967.0 <class 'float'>
1989.0 <class 'float'>
1999.0 <class 'float'>
1997.0 <class 'float'>
nan <class 'float'>
2005.0 <class 'float'>
2000.0 <class 'float'>
1999.0 <class 'float'>
1963.0 <class 'float'>
2004.0 <class 'float'>
1931.0 <class 'float'>
2001.0 <class 'float'>
nan <class 'float'>
1936.0 <class 'float'>
1975.0 <class 'float'>
2007.0 <class 'float'>
1971.0 <class 'float'>
1960.0 <class 'float'>
1923.0 <class 'float'>
nan <class 'float'>
1950.0 <class 'float'>
2009.0 <class 'float'>
2004.0 <class 'float'>
2006.0 <class 'float'>
1984.0 <class 'float'>
2003.0 <class 'float'>
2005.0 <class 'float'>
nan <class 'float'>
1926.0 <class 'float'>
nan <class 'float'>
1955.0 <class 'float'>
2007.0 <class 'float'>
2004.0 <class 'float'>
1981.0 <class 'float'>
1991.0 <class 'float'>
1960.0 <class 'float'>
1987.0 <class 'float'>
1961.0 <class 'float'>
1986.0 <class 'float'>
1950.0 <class 'float'>
1988.0 <class 'float'>
1958.0 <class 'float'>
2009.0 <class 'float'>
1935.0 <class 'float'>
2000.0 <class 'float'>
1920.0 <class 'float'>
1957.0 <class 'float'>
2003.0 <class 'float'>
1986.0 <class 'float'>
1993.0 <class 'float'>
1990.0 <class 'float'>
1916.0 <class 'float'>
1979.0 <class 'float'>
2001.0 <class 'float'>
1932.0 <class 'float'>
1972.0 <class 'float'>
1999.0 <class 'float'>
2004.0 <class 'float'>
1989.0 <class 'float'>
1976.0 <class 'float'>
2007.0 <class 'float'>
1918.0 <class 'float'>
nan <class 'float'>
2004.0 <class 'float'>
2003.0 <class 'float'>
1980.0 <class 'float'>
1924.0 <class 'float'>
2004.0 <class 'float'>
1948.0 <class 'float'>
1990.0 <class 'float'>
1962.0 <class 'float'>
1960.0 <class 'float'>
1988.0 <class 'float'>
1964.0 <class 'float'>
nan <class 'float'>
2009.0 <class 'float'>
2009.0 <class 'float'>
1996.0 <class 'float'>
1977.0 <class 'float'>
1957.0 <class 'float'>
2004.0 <class 'float'>
1940.0 <class 'float'>
1939.0 <class 'float'>
2005.0 <class 'float'>
2006.0 <class 'float'>
2002.0 <class 'float'>
1975.0 <class 'float'>
1989.0 <class 'float'>
2003.0 <class 'float'>
1991.0 <class 'float'>
1995.0 <class 'float'>
1987.0 <class 'float'>
1974.0 <class 'float'>
2005.0 <class 'float'>
1959.0 <class 'float'>
1995.0 <class 'float'>
1972.0 <class 'float'>
1976.0 <class 'float'>
2002.0 <class 'float'>
1971.0 <class 'float'>
2004.0 <class 'float'>
1993.0 <class 'float'>
2007.0 <class 'float'>
1949.0 <class 'float'>
2008.0 <class 'float'>
nan <class 'float'>
1940.0 <class 'float'>
1980.0 <class 'float'>
1994.0 <class 'float'>
1988.0 <class 'float'>
1910.0 <class 'float'>
1954.0 <class 'float'>
2003.0 <class 'float'>
1958.0 <class 'float'>
nan <class 'float'>
2006.0 <class 'float'>
2004.0 <class 'float'>
1964.0 <class 'float'>
1957.0 <class 'float'>
1999.0 <class 'float'>
2003.0 <class 'float'>
2006.0 <class 'float'>
2001.0 <class 'float'>
1956.0 <class 'float'>
1991.0 <class 'float'>
2007.0 <class 'float'>
1978.0 <class 'float'>
1974.0 <class 'float'>
1965.0 <class 'float'>
1981.0 <class 'float'>
1997.0 <class 'float'>
1939.0 <class 'float'>
1966.0 <class 'float'>
1987.0 <class 'float'>
2006.0 <class 'float'>
1954.0 <class 'float'>
1999.0 <class 'float'>
1958.0 <class 'float'>
1982.0 <class 'float'>
1978.0 <class 'float'>
2003.0 <class 'float'>
1951.0 <class 'float'>
2007.0 <class 'float'>
1977.0 <class 'float'>
1989.0 <class 'float'>
2006.0 <class 'float'>
2008.0 <class 'float'>
2008.0 <class 'float'>
1992.0 <class 'float'>
2006.0 <class 'float'>
1962.0 <class 'float'>
nan <class 'float'>
1970.0 <class 'float'>
2003.0 <class 'float'>
2006.0 <class 'float'>
nan <class 'float'>
1949.0 <class 'float'>
1977.0 <class 'float'>
1953.0 <class 'float'>
1984.0 <class 'float'>
1950.0 <class 'float'>
1997.0 <class 'float'>
1968.0 <class 'float'>
1950.0 <class 'float'>
1953.0 <class 'float'>
1998.0 <class 'float'>
2001.0 <class 'float'>
1975.0 <class 'float'>
2003.0 <class 'float'>
2004.0 <class 'float'>
1990.0 <class 'float'>
nan <class 'float'>
1961.0 <class 'float'>
2003.0 <class 'float'>
1993.0 <class 'float'>
1948.0 <class 'float'>
1939.0 <class 'float'>
1965.0 <class 'float'>
1925.0 <class 'float'>
2004.0 <class 'float'>
1983.0 <class 'float'>
2006.0 <class 'float'>
1993.0 <class 'float'>
1980.0 <class 'float'>
2006.0 <class 'float'>
2004.0 <class 'float'>
1987.0 <class 'float'>
1955.0 <class 'float'>
1961.0 <class 'float'>
1941.0 <class 'float'>
1993.0 <class 'float'>
1960.0 <class 'float'>
1930.0 <class 'float'>
1920.0 <class 'float'>
2002.0 <class 'float'>
1958.0 <class 'float'>
2003.0 <class 'float'>
2004.0 <class 'float'>
1998.0 <class 'float'>
1965.0 <class 'float'>
2005.0 <class 'float'>
2002.0 <class 'float'>
1984.0 <class 'float'>
1958.0 <class 'float'>
2002.0 <class 'float'>
1950.0 <class 'float'>
1949.0 <class 'float'>
2005.0 <class 'float'>
1976.0 <class 'float'>
1939.0 <class 'float'>
1960.0 <class 'float'>
1960.0 <class 'float'>
2003.0 <class 'float'>
2006.0 <class 'float'>
2007.0 <class 'float'>
1986.0 <class 'float'>
1941.0 <class 'float'>
2005.0 <class 'float'>
1940.0 <class 'float'>
1995.0 <class 'float'>
1992.0 <class 'float'>
1976.0 <class 'float'>
1958.0 <class 'float'>
1998.0 <class 'float'>
1978.0 <class 'float'>
1940.0 <class 'float'>
2003.0 <class 'float'>
1972.0 <class 'float'>
1976.0 <class 'float'>
1964.0 <class 'float'>
1963.0 <class 'float'>
1962.0 <class 'float'>
1954.0 <class 'float'>
1997.0 <class 'float'>
2000.0 <class 'float'>
1991.0 <class 'float'>
1984.0 <class 'float'>
1953.0 <class 'float'>
2003.0 <class 'float'>
nan <class 'float'>
1998.0 <class 'float'>
2004.0 <class 'float'>
2010.0 <class 'float'>
2000.0 <class 'float'>
1924.0 <class 'float'>
2006.0 <class 'float'>
2006.0 <class 'float'>
1950.0 <class 'float'>
1992.0 <class 'float'>
2004.0 <class 'float'>
nan <class 'float'>
1977.0 <class 'float'>
1999.0 <class 'float'>
2008.0 <class 'float'>
1978.0 <class 'float'>
2001.0 <class 'float'>
1959.0 <class 'float'>
nan <class 'float'>
1940.0 <class 'float'>
1956.0 <class 'float'>
1985.0 <class 'float'>
1962.0 <class 'float'>
1920.0 <class 'float'>
2007.0 <class 'float'>
1996.0 <class 'float'>
2005.0 <class 'float'>
1940.0 <class 'float'>
1998.0 <class 'float'>
1995.0 <class 'float'>
1993.0 <class 'float'>
1936.0 <class 'float'>
1960.0 <class 'float'>
2006.0 <class 'float'>
2008.0 <class 'float'>
1958.0 <class 'float'>
1955.0 <class 'float'>
2009.0 <class 'float'>
1927.0 <class 'float'>
1993.0 <class 'float'>
2007.0 <class 'float'>
1978.0 <class 'float'>
1918.0 <class 'float'>
1940.0 <class 'float'>
1968.0 <class 'float'>
1997.0 <class 'float'>
1977.0 <class 'float'>
1954.0 <class 'float'>
1998.0 <class 'float'>
1956.0 <class 'float'>
1947.0 <class 'float'>
1989.0 <class 'float'>
1964.0 <class 'float'>
2007.0 <class 'float'>
1988.0 <class 'float'>
1971.0 <class 'float'>
nan <class 'float'>
1971.0 <class 'float'>
1997.0 <class 'float'>
nan <class 'float'>
1996.0 <class 'float'>
1990.0 <class 'float'>
1926.0 <class 'float'>
1990.0 <class 'float'>
2005.0 <class 'float'>
2008.0 <class 'float'>
nan <class 'float'>
1930.0 <class 'float'>
2007.0 <class 'float'>
1994.0 <class 'float'>
1956.0 <class 'float'>
1966.0 <class 'float'>
1998.0 <class 'float'>
1937.0 <class 'float'>
1981.0 <class 'float'>
1932.0 <class 'float'>
1975.0 <class 'float'>
1996.0 <class 'float'>
2008.0 <class 'float'>
1976.0 <class 'float'>
1973.0 <class 'float'>
1916.0 <class 'float'>
1954.0 <class 'float'>
1925.0 <class 'float'>
1950.0 <class 'float'>
2009.0 <class 'float'>
1971.0 <class 'float'>
1965.0 <class 'float'>
1939.0 <class 'float'>
nan <class 'float'>
2004.0 <class 'float'>
1970.0 <class 'float'>
1942.0 <class 'float'>
2006.0 <class 'float'>
1993.0 <class 'float'>
1985.0 <class 'float'>
1977.0 <class 'float'>
2005.0 <class 'float'>
2006.0 <class 'float'>
2000.0 <class 'float'>
1996.0 <class 'float'>
1997.0 <class 'float'>
2006.0 <class 'float'>
2007.0 <class 'float'>
1995.0 <class 'float'>
2004.0 <class 'float'>
2003.0 <class 'float'>
1915.0 <class 'float'>
1998.0 <class 'float'>
1963.0 <class 'float'>
1950.0 <class 'float'>
1965.0 <class 'float'>
1971.0 <class 'float'>
1970.0 <class 'float'>
1970.0 <class 'float'>
1976.0 <class 'float'>
1941.0 <class 'float'>
2006.0 <class 'float'>
1964.0 <class 'float'>
1938.0 <class 'float'>
nan <class 'float'>
1992.0 <class 'float'>
1925.0 <class 'float'>
1967.0 <class 'float'>
1958.0 <class 'float'>
1973.0 <class 'float'>
2005.0 <class 'float'>
1965.0 <class 'float'>
1959.0 <class 'float'>
1974.0 <class 'float'>
1952.0 <class 'float'>
1993.0 <class 'float'>
2009.0 <class 'float'>
1928.0 <class 'float'>
1959.0 <class 'float'>
1951.0 <class 'float'>
2005.0 <class 'float'>
1964.0 <class 'float'>
1983.0 <class 'float'>
1926.0 <class 'float'>
2009.0 <class 'float'>
1972.0 <class 'float'>
1996.0 <class 'float'>
1998.0 <class 'float'>
1926.0 <class 'float'>
nan <class 'float'>
1957.0 <class 'float'>
1950.0 <class 'float'>
2007.0 <class 'float'>
1996.0 <class 'float'>
2005.0 <class 'float'>
1956.0 <class 'float'>
2008.0 <class 'float'>
nan <class 'float'>
1975.0 <class 'float'>
1988.0 <class 'float'>
1920.0 <class 'float'>
1967.0 <class 'float'>
nan <class 'float'>
2004.0 <class 'float'>
nan <class 'float'>
1998.0 <class 'float'>
1980.0 <class 'float'>
1968.0 <class 'float'>
2001.0 <class 'float'>
2006.0 <class 'float'>
2000.0 <class 'float'>
1998.0 <class 'float'>
1998.0 <class 'float'>
2006.0 <class 'float'>
1988.0 <class 'float'>
1950.0 <class 'float'>
1987.0 <class 'float'>
1963.0 <class 'float'>
2003.0 <class 'float'>
1977.0 <class 'float'>
1957.0 <class 'float'>
2006.0 <class 'float'>
2002.0 <class 'float'>
2003.0 <class 'float'>
1922.0 <class 'float'>
1957.0 <class 'float'>
1994.0 <class 'float'>
1996.0 <class 'float'>
2003.0 <class 'float'>
1957.0 <class 'float'>
1975.0 <class 'float'>
nan <class 'float'>
1955.0 <class 'float'>
1992.0 <class 'float'>
1920.0 <class 'float'>
2005.0 <class 'float'>
2004.0 <class 'float'>
1983.0 <class 'float'>
1979.0 <class 'float'>
1987.0 <class 'float'>
1959.0 <class 'float'>
2009.0 <class 'float'>
2000.0 <class 'float'>
1971.0 <class 'float'>
1947.0 <class 'float'>
1928.0 <class 'float'>
1966.0 <class 'float'>
2007.0 <class 'float'>
1954.0 <class 'float'>
1960.0 <class 'float'>
2009.0 <class 'float'>
nan <class 'float'>
1988.0 <class 'float'>
1935.0 <class 'float'>
2005.0 <class 'float'>
1961.0 <class 'float'>
1996.0 <class 'float'>
1968.0 <class 'float'>
1988.0 <class 'float'>
2004.0 <class 'float'>
2008.0 <class 'float'>
1985.0 <class 'float'>
2003.0 <class 'float'>
1981.0 <class 'float'>
2005.0 <class 'float'>
1930.0 <class 'float'>
2006.0 <class 'float'>
1977.0 <class 'float'>
1980.0 <class 'float'>
2003.0 <class 'float'>
1979.0 <class 'float'>
1992.0 <class 'float'>
2004.0 <class 'float'>
2002.0 <class 'float'>
1965.0 <class 'float'>
2000.0 <class 'float'>
1948.0 <class 'float'>
1934.0 <class 'float'>
1961.0 <class 'float'>
2000.0 <class 'float'>
1978.0 <class 'float'>
2001.0 <class 'float'>
nan <class 'float'>
nan <class 'float'>
1963.0 <class 'float'>
2002.0 <class 'float'>
1962.0 <class 'float'>
2007.0 <class 'float'>
2003.0 <class 'float'>
nan <class 'float'>
1974.0 <class 'float'>
1986.0 <class 'float'>
2000.0 <class 'float'>
1972.0 <class 'float'>
1962.0 <class 'float'>
1960.0 <class 'float'>
1955.0 <class 'float'>
1969.0 <class 'float'>
1964.0 <class 'float'>
1937.0 <class 'float'>
2006.0 <class 'float'>
1977.0 <class 'float'>
1954.0 <class 'float'>
1980.0 <class 'float'>
nan <class 'float'>
nan <class 'float'>
1954.0 <class 'float'>
nan <class 'float'>
2006.0 <class 'float'>
2003.0 <class 'float'>
2001.0 <class 'float'>
1972.0 <class 'float'>
1969.0 <class 'float'>
2009.0 <class 'float'>
1979.0 <class 'float'>
1950.0 <class 'float'>
1953.0 <class 'float'>
1966.0 <class 'float'>
nan <class 'float'>
2007.0 <class 'float'>
1940.0 <class 'float'>
1996.0 <class 'float'>
1906.0 <class 'float'>
1995.0 <class 'float'>
1971.0 <class 'float'>
1959.0 <class 'float'>
1931.0 <class 'float'>
1948.0 <class 'float'>
1968.0 <class 'float'>
1976.0 <class 'float'>
1994.0 <class 'float'>
1968.0 <class 'float'>
1974.0 <class 'float'>
2005.0 <class 'float'>
2000.0 <class 'float'>
1965.0 <class 'float'>
1994.0 <class 'float'>
1999.0 <class 'float'>
1922.0 <class 'float'>
2005.0 <class 'float'>
1930.0 <class 'float'>
1977.0 <class 'float'>
1957.0 <class 'float'>
1965.0 <class 'float'>
1978.0 <class 'float'>
1920.0 <class 'float'>
1924.0 <class 'float'>
2008.0 <class 'float'>
1963.0 <class 'float'>
1980.0 <class 'float'>
1968.0 <class 'float'>
1996.0 <class 'float'>
2002.0 <class 'float'>
1998.0 <class 'float'>
1984.0 <class 'float'>
2007.0 <class 'float'>
2004.0 <class 'float'>
2007.0 <class 'float'>
2005.0 <class 'float'>
2004.0 <class 'float'>
1994.0 <class 'float'>
1989.0 <class 'float'>
1968.0 <class 'float'>
1995.0 <class 'float'>
1987.0 <class 'float'>
1921.0 <class 'float'>
1952.0 <class 'float'>
1973.0 <class 'float'>
2004.0 <class 'float'>
2002.0 <class 'float'>
1969.0 <class 'float'>
2006.0 <class 'float'>
1999.0 <class 'float'>
2004.0 <class 'float'>
nan <class 'float'>
1971.0 <class 'float'>
2006.0 <class 'float'>
2007.0 <class 'float'>
1966.0 <class 'float'>
nan <class 'float'>
1964.0 <class 'float'>
1988.0 <class 'float'>
1970.0 <class 'float'>
1976.0 <class 'float'>
1974.0 <class 'float'>
1996.0 <class 'float'>
1973.0 <class 'float'>
1993.0 <class 'float'>
1969.0 <class 'float'>
1985.0 <class 'float'>
2004.0 <class 'float'>
1994.0 <class 'float'>
1958.0 <class 'float'>
2007.0 <class 'float'>
1989.0 <class 'float'>
1988.0 <class 'float'>
2007.0 <class 'float'>
1968.0 <class 'float'>
1962.0 <class 'float'>
1995.0 <class 'float'>
2003.0 <class 'float'>
1998.0 <class 'float'>
1961.0 <class 'float'>
1968.0 <class 'float'>
1914.0 <class 'float'>
1949.0 <class 'float'>
2005.0 <class 'float'>
nan <class 'float'>
2004.0 <class 'float'>
1910.0 <class 'float'>
1962.0 <class 'float'>
2000.0 <class 'float'>
1997.0 <class 'float'>
1993.0 <class 'float'>
1994.0 <class 'float'>
2000.0 <class 'float'>
1950.0 <class 'float'>
1996.0 <class 'float'>
1945.0 <class 'float'>
nan <class 'float'>
2003.0 <class 'float'>
1997.0 <class 'float'>
2005.0 <class 'float'>
1969.0 <class 'float'>
1999.0 <class 'float'>
2007.0 <class 'float'>
1978.0 <class 'float'>
1999.0 <class 'float'>
1995.0 <class 'float'>
2008.0 <class 'float'>
1965.0 <class 'float'>
2009.0 <class 'float'>
1999.0 <class 'float'>
1995.0 <class 'float'>
2008.0 <class 'float'>
1988.0 <class 'float'>
1989.0 <class 'float'>
2004.0 <class 'float'>
2003.0 <class 'float'>
1983.0 <class 'float'>
1951.0 <class 'float'>
1976.0 <class 'float'>
1958.0 <class 'float'>
2006.0 <class 'float'>
1998.0 <class 'float'>
2005.0 <class 'float'>
1974.0 <class 'float'>
1977.0 <class 'float'>
1977.0 <class 'float'>
1995.0 <class 'float'>
1992.0 <class 'float'>
2001.0 <class 'float'>
1978.0 <class 'float'>
nan <class 'float'>
1967.0 <class 'float'>
1961.0 <class 'float'>
2004.0 <class 'float'>
1954.0 <class 'float'>
1966.0 <class 'float'>
2005.0 <class 'float'>
1976.0 <class 'float'>
1997.0 <class 'float'>
2007.0 <class 'float'>
1994.0 <class 'float'>
1980.0 <class 'float'>
1977.0 <class 'float'>
1953.0 <class 'float'>
2009.0 <class 'float'>
1939.0 <class 'float'>
1997.0 <class 'float'>
1957.0 <class 'float'>
2005.0 <class 'float'>
2009.0 <class 'float'>
1954.0 <class 'float'>
2008.0 <class 'float'>
1967.0 <class 'float'>
1923.0 <class 'float'>
1966.0 <class 'float'>
1910.0 <class 'float'>
1974.0 <class 'float'>
2004.0 <class 'float'>
1952.0 <class 'float'>
1958.0 <class 'float'>
1955.0 <class 'float'>
1998.0 <class 'float'>
1954.0 <class 'float'>
2002.0 <class 'float'>
1971.0 <class 'float'>
2010.0 <class 'float'>
2003.0 <class 'float'>
1974.0 <class 'float'>
2003.0 <class 'float'>
1940.0 <class 'float'>
2006.0 <class 'float'>
2007.0 <class 'float'>
nan <class 'float'>
2001.0 <class 'float'>
1967.0 <class 'float'>
2005.0 <class 'float'>
1957.0 <class 'float'>
2005.0 <class 'float'>
2003.0 <class 'float'>
1964.0 <class 'float'>
1961.0 <class 'float'>
1996.0 <class 'float'>
1948.0 <class 'float'>
1973.0 <class 'float'>
1999.0 <class 'float'>
1946.0 <class 'float'>
1934.0 <class 'float'>
1983.0 <class 'float'>
1966.0 <class 'float'>
nan <class 'float'>
1949.0 <class 'float'>
1975.0 <class 'float'>
1993.0 <class 'float'>
1972.0 <class 'float'>
1908.0 <class 'float'>
1976.0 <class 'float'>
2003.0 <class 'float'>
2003.0 <class 'float'>
1941.0 <class 'float'>
1964.0 <class 'float'>
1955.0 <class 'float'>
1962.0 <class 'float'>
1981.0 <class 'float'>
1994.0 <class 'float'>
1976.0 <class 'float'>
1968.0 <class 'float'>
1925.0 <class 'float'>
1965.0 <class 'float'>
1986.0 <class 'float'>
1959.0 <class 'float'>
2008.0 <class 'float'>
1973.0 <class 'float'>
2007.0 <class 'float'>
1961.0 <class 'float'>
1979.0 <class 'float'>
1993.0 <class 'float'>
1962.0 <class 'float'>
1998.0 <class 'float'>
1953.0 <class 'float'>
1949.0 <class 'float'>
1941.0 <class 'float'>